*{
     margin: 0;
     padding: 0;
}

:root {
     --blue: #287bff;
     --white: #fff;
     --grey: #f5f5f5;
     --black1: #000;
     --black2: #999;
     --green: #1eb40a;
     --success: #0ef81a;
     --background: #deeec1;
}

body, html {
     height: 100%;
}

body {
    background: var(--background);
}
html {
     font-family: Arial, Helvetica, sans-serif;
}

header {
     display: block;
     position: fixed;
     top: 0;
     left: 0;
     padding: 10px;
     width: 100%;
     background: var(--white);
}

header .head-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
 }

header .head-container img {
     width: 100px;
}

nav a:visited,
nav a:link {
     color: var(--green);
     text-decoration: none;
}

nav > ul {
     display: inline;
     padding: 0;
}

nav > ul > li {
     display: inline-block;
     list-style: none;
     margin: 0 5px 0 5px;
}

.header-line {
     margin: 0;
     border: 2px solid var(--green);
     color: var(--green);
}

h1 {
     color: var(--green);
     text-align: center;
}

h2 {
     margin-top: 100px;
     color: var(--green);
     text-align: center;
}

h3 {
    color: #a52a2a;
    text-align: center;
 }

p {
     color: var(--green);
}

.container {
     width: 75%;
     margin-left: 12%;
     margin-top: 0;
}

.log-container {
     margin-right: 10px;
     margin-top: 100px;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
}

.banner img {
     width: 100%;
     margin-top: 20px;
     box-shadow: 0 7px 25px var(--black2);
}

caption {
     color: var(--green);
     text-align: center;
}

input {
     width: 100%;
     margin: 5px;
}

svg {
     display: block;
     width: 75%;
     margin-left: 12%;
}

.msg {
     background-color: #f82a0f;
     font-size: 1.2em;
     color: #fff;
     width: 50%;
     margin-left: 25%;
     text-align: center;
}

.success {
     background-color: #10dd76;
     font-size: 1.2em;
     color: #fff;
     width: 50%;
     margin-left: 25%;
     text-align: center;
}

#btn {
    margin-bottom: 20px;
}
.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

button {
     margin-top: 10px;
}

footer {
     padding: 10px;
     text-align: center;
}

footer p, hr {
     color: var(--green);
}

@media screen and (min-width: 678px) {
    .container {
         margin-top: 100px;
         width: 35%;
         margin-left: 32%;
    }
}
  